# Sandbox: Extract Single model from MERCS model

Just to demonstrate how to dive in and extract single models from the MERCS model. This introspection is just convenient to get acquainted with crap sklearn spits out.

## Preliminaries

### External Imports

In [1]:
import numpy as np
import os
import sys
from sklearn.metrics import (mean_absolute_error,
                             mean_squared_error,
                             mean_squared_log_error)
import pandas as pd

### MERCS imports

In [2]:
sys.path.insert(0, '..') # We add the parent dir to the path
from src.mercs.core import MERCS
from src.mercs.utils import *

import src.datasets as datasets

/home/elia/Software/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

## Induction

### Importing Data

First, we import the nursery dataset.

In [3]:
train, test = datasets.load_slump()

load_example_dataset is loading fname: ../resc/data/slump_train.csv

load_example_dataset is loading fname: ../resc/data/slump_test.csv

This is a fully numerical dataset

In [4]:
train.head()

,Var0,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9
0,0.573840,0.424870,0.403846,0.6250,0.315068,0.573267,0.150727,0.793103,0.724138,0.430576
1,0.109705,0.772021,0.734615,0.2500,0.520548,0.394852,0.403213,0.000000,0.000000,0.579342
2,0.105485,0.766839,0.734615,0.2375,0.794521,0.386078,0.391737,0.034483,0.000000,0.595549
3,0.105485,0.766839,0.730769,0.2375,1.000000,0.380228,0.384086,0.103448,0.025862,0.602080
4,0.071730,0.580311,0.553846,0.7500,0.383562,0.628839,0.066565,0.689655,0.758621,0.232946

In [5]:
test.head()

,Var0,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9
0,0.586498,0.466321,0.446154,0.2500,0.315068,0.473823,0.487376,0.000000,0.000000,0.650460
1,0.742616,0.580311,0.000000,0.7500,0.383562,0.251536,0.567712,0.793103,0.655172,0.265360
2,0.780591,0.601036,0.000000,0.4500,0.383562,0.321732,0.659526,0.879310,0.810345,0.304306
3,0.662447,0.549223,0.523077,0.5875,0.109589,0.114068,0.525631,0.827586,0.465517,0.582487
4,0.037975,0.549223,0.526923,0.6125,0.109589,0.488447,0.475899,0.827586,0.810345,0.258829

### Training

In [6]:
model = MERCS()

In [7]:
ind_parameters = {'ind_type':           'RF',
                  'ind_n_estimators':   10,
                  'ind_max_depth':      4}

sel_parameters = {'sel_type':           'Base',
                  'sel_its':            4,
                  'sel_param':          1}

In [8]:
model.fit(train, **ind_parameters, **sel_parameters)

/home/elia/Software/anaconda3/lib/python3.6/site-packages/numpy/core/numeric.py:2428: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return bool(asarray(a1 == a2).all())

In [9]:
model.m_codes

array([[0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0]])

In [10]:
m = model.m_list[5]
c = model.m_codes[5]
c

code = [0, 0, 0, 0, 0, 0, 0, 0, 0, 1]

targ_boolean = np.array(code) == 1
y_true = test[test.columns.values[targ_boolean]].values

desc_boolean = np.array(code) == 0
m_desc = test[test.columns.values[desc_boolean]].values

In [11]:
y_pred = m.predict(m_desc)

In [14]:
y_pred

array([0.62050497, 0.30260138, 0.32096404, 0.46557001, 0.22876817,
       0.28882938, 0.20122418, 0.34659526, 0.31178271, 0.33167559,
       0.31140015, 0.3634277 , 0.2689365 , 0.30527927, 0.29609793,
       0.34162204, 0.24292272, 0.2689365 , 0.37069625, 0.35462892,
       0.27046672, 0.41315991, 0.32746748, 0.2869166 , 0.2869166 ,
       0.43267024, 0.18094874, 0.30872226, 0.24521806, 0.24521806,
       0.24407039, 0.32019893, 0.32938026])

In [ ]:
model.m_codes